@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(197, 197, 197);
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  /* display: flex;
  height: 100vh; */
}
.ab-nav {
  color: #414040;
  font-size: 40px;
  font-family: "Reggae One", cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  position: relative;
  top: 20px;
  right: 80px;
}
.logo {
  margin: 5px;
  margin-left: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}
/* code for navigation bar starts */
.nav-bar {
  background: #494949;
  text-align: right;
  height: 75px;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 125px;
}
.nav-bar ul {
  display: inline-block;
  list-style: none;
  margin-right: 150px;
}
.nav-bar ul li {
  text-align: center;
  float: left;
  width: 150px;
  margin: 10px;
  margin-right: 110px;
  padding: 15px;
  border-radius: 5px;
}
.nav-bar ul li a {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.home,
.nav-bar ul li:hover {
  background: yellow;
  border-radius: 3px;
  color: #414040;
}
.nav-bar .home a,
.nav-bar ul li a:hover {
  color: #414040;
}
.nav-bar .fa {
  margin-right: 3px;
  font-size: 20px;
}
/* code for navigation bar ends */
.front-image {
  min-height: 80vh;
  color: yellow;
  font-size: 60px;
  font-family: "Lato,Roboto,inter,open sans,Montessarat";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../Images/front-image.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
/* slide show starts */
.slider {
  position: absolute;
  top: 2000px;
  right: 50%;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  transform: translateX(50%);
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}

/* css code for manual transition */
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #66ff00;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #66ff00;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
/* code for manual transition ends */
/* code for automatic transiton starts*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 2px solid #66ff00;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #66ff00;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #66ff00;
}
/* code for automatic transiton ends*/
/* code for slideshow ends */
.slider-heading {
  text-align: center;
  clear: left;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  font-family: "Reggae One", cursive;
  color: #414040;
}
.box1 {
  border-radius: 35px;
  background: linear-gradient(145deg, #cecbcb, #ffffff);
  box-shadow: 11px 11px 0px #919191, -11px -11px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -70px;
  left: 10vw;
  height: 350px;
  width: 350px;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.925);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2 {
  border-radius: 35px;
  background: linear-gradient(145deg, #cecbcb, #ffffff);
  box-shadow: 11px 11px 0px #919191, -11px -11px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -70px;
  right: 10vw;
  height: 350px;
  width: 350px;
  float: right;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rough {
  position: absolute;
  top: 3000px;
  color: #40d3dc;
}
